<nav id="header" class="w-full top-10 py-1 bg-indigo-300">
  <div class="w-full flex items-center justify-between mt-0 px-6 py-2">
    <div
      class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1"
      id="menu"
    >
      <nav>
        <ul
          class="md:flex items-center justify-between text-base text-blue-600 pt-4 md:pt-0"
        >
          <li class="flex items-center">
            <a
              class="inline-block no-underline hover:text-black font-medium text-lg lg:-ml-2"
              href="#"
            >
              <img src="/img/logo.png" alt="logo" class="w-12" />
            </a>
          </li>
          <li
            class="h-7 pl-3 text-3xl flex items-center justify-center text-black font-black"
          >
            STUDENT MANAGEMENT SYSTEM
          </li>
        </ul>
      </nav>
    </div>

    <div
      class="order-2 md:order-3 flex flex-wrap items-center justify-end mr-0 md:mr-4"
      id="nav-content"
    >
      <div class="auth flex items-center w-full md:w-full" id="auth-links">
        <button
          onclick="Clerk.openSignUp()"
          class="bg-blue-600 text-gray-200 p-2 rounded hover:bg-blue-500 hover:text-gray-100"
        >
          Sign in
        </button>
        <button
          onclick="Clerk.openSignIn()"
          class="bg-blue-600 text-gray-200 p-2 rounded hover:bg-blue-500 hover:text-gray-100"
        >
          Sign up
        </button>
      </div>
      <div id="user-button"><button class="text-black"></button></div>
    </div>
  </div>
</nav>
